* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {font-family: "Karnivore-heavy"; src:url("./public/fonts/Karnivore-Lite/KARNIVOT.ttf") format("truetype"); font-weight:lighter;font-style: normal;
}
@font-face {font-family: "Karnivore-soft"; src:url("./public/fonts/Karnivore-Lite/KARNIVOL.ttf") format("truetype"); font-weight:lighter;font-style: normal;
}
@font-face {font-family: "Gputeks-bold"; src:url("./public/fonts/gputeks/Gputeks-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal;
}
@font-face {font-family: "Lane"; src:url("./public/fonts/Lane/LANENAR_.ttf") format("truetype"); font-weight:lighter; font-style: normal;
}


:root {

    --rtc-font-family-1: Arial, Helvetica, sans-serif;
    --rtc-font-family-2: "Karnivore-heavy";
    --rtc-font-family-3: "Karnivore-soft";
    --rtc-font-family-4: "Gputeks-bold";
    

    --rtc-color-pardo: #9c652a;
    --rtc-color-petrolBlue:#384d50;
    --rtc-color-almostWhite: #e2e8e9;
    --rtc-color-almostBlack: #272929;
    
    --font-size-xl: 25px;
    --font-size-l: 20px;
    --font-size-m: 16px;
    --font-size-ms: 12px;
    --font-size-s: 10px;

    --padding-xl: 20px;
    --padding-l: 14px;
    --padding-m: 10px;
    --padding-s: 6px;
    --padding-xs: 2px;
}

main {
  width: 100%;
  height: 100vh;
  background-color: var(--rtc-color-almostBlack);
}

h1 {
  font-family: var(--rtc-font-family-2);
}

h2 {
  font-family: var(--rtc-font-family-3);
}

.educationButton:hover, .projectsButton:hover, .aboutMeButton:hover {
  cursor: pointer;
} 

button {
  font-family: var(--rtc-font-family-4);
  letter-spacing: 1px;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
}

.educationButton, .projectsButton {
  font-family: var(--rtc-font-family-2);
  font-size: 25px;
  color: var(--rtc-color-almostWhite);
  background-color: var(--rtc-color-petrolBlue);
}

header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: auto;
  background-color: var(--rtc-color-almostBlack);
}

.headerDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 12%;
  color: var(--rtc-color-almostWhite);
  background-color: var(--rtc-color-almostBlack);
}

.headerDiv, .footerDiv, .mainContent {
  padding: var(--padding-l);
}

#introContentPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 1.5em;
  gap: 2em;
  z-index: 1;
  background-color: var(--rtc-color-petrolBlue);
}

/*  JUGAR CON LOS COLORES DE LOS BOTONES AL PASAR POR ENCIMA
.skillsDiv > button:hover {
  cursor: pointer;
  background-color: #384d50;
}
*/


.skillsDiv {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  height: auto;
  gap: 20px;
  padding: var(--padding-xl);
  justify-content: center;
  align-items: center;
  background-color: #9c652a;
}

.aboutMeDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: var(--padding-xl);
  justify-content: center;
  align-items: center;
  background-color: #9c652a;
}

.menuDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: var(--padding-m);
}

.menuLeft, .menuRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  border: 2px solid wheat;
}

.avatarDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  border: 1px solid wheat;
}

.avatarDiv > img {
  width: 90%;
  object-fit: contain;
}

#fullContainer {
  width: 100%;
  height:auto;
  display:none;
  position: relative;
  z-index: 1;
  gap:2px;
}

.footerDiv {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 8%;
  color: var(--rtc-color-almostWhite);
  background-color: var(--rtc-color-almostBlack);
}

span {
  font-family: var(--rtc-font-family-3);
  font-size: 12px;
  color: var(--rtc-color-almostWhite);
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-wrap: wrap;
  z-index: 3;
  width: 100%;
  background-color: var(--rtc-color-almostBlack);
}




@media screen and (max-width:480px) {

  h1 {
    font-size: var(--font-size-xl);
  }
  h2 {
    font-size: var(--font-size-l);
  }

  .educationButton, .projectsButton {
    font-size: var(--font-size-l);
  }

  .skillsDiv, .aboutMeDiv {
    gap: 10px;
    padding: var(--padding-l);
  }

  button {
    padding: 4px 8px;
    font-size: 10px;
  }

  #introContentPage {
    top: 1em;
    gap: 1em;
  }

  .menuDiv {
    flex-direction: column; 
  }

  .menuLeft, .menuRight, .avatarDiv {
    width: 100%;
  }

  .avatarDiv > img {
    width: 70%;
  }
}





@media screen and (min-width: 481px) and (max-width:768px){
  h1 {
    font-size: var(--font-size-xl);
  }
  h2 {
    font-size: var(--font-size-l);
  }

  .educationButton, .projectsButton {
    font-size: var(--font-size-l);
  }

  #introContentPage {
    top: 1em;
    gap: 1em;
  }

  button {
    font-size: var(--font-size-s);
    padding: 6px 8px;
  }

  .skillsDiv, .aboutMeDiv {
    gap: 8px;
    padding: var(--padding-m);
  }

  .menuDiv {
    flex-direction: column; 
  }

  .menuLeft, .menuRight, .avatarDiv {
    width: 100%;
  }

  .avatarDiv > img {
    width: 50%;
  }

  
}
  
@media screen and (min-width: 769px) and (max-width:1023px){

  h1 {
    font-size: var(--font-size-xl);
  }
  h2 {
    font-size: var(--font-size-l);
  }

  .educationButton, .projectsButton {
    font-size: var(--font-size-l);
  }
  
  #introContentPage {
    top: 0.5em;
    gap: 0em;
  }

  button {
    font-size: var(--font-size-ms);
    padding: 8px 12px;
  }

  .skillsDiv, .aboutMeDiv {
    gap: 10px;
    padding: var(--padding-m);
  }

  .menuDiv {
    gap: 5px;
    flex-direction: column; 
  }

  .menuLeft, .menuRight, .avatarDiv {
    width: 100%;
  }

  .avatarDiv > img {
    width: 35%;
  }
}



@media screen and (min-width:1024px) and (max-width:1280px) {

  #introContentPage {
    top: 1.5em;
    gap: 1.5em;
  }

  button {
    font-size: var(--font-size-ms);
    padding: 8px 12px;
  }

  .skillsDiv, .aboutMeDiv {
    gap: 20px;
    padding: var(--padding-l);
  }

  .avatarDiv > img {
    width: 60%;
  }

}


