* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {font-family: "Karnivore-heavy"; src:url("/fonts/Karnivore-Lite/KARNIVOT.ttf") format("truetype"); font-weight:lighter;font-style: normal;
}
@font-face {font-family: "Karnivore-soft"; src:url("/fonts/Karnivore-Lite/KARNIVOL.ttf") format("truetype"); font-weight:lighter;font-style: normal;
}
@font-face {font-family: "Gputeks-bold"; src:url("/fonts/gputeks/Gputeks-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal;
}
@font-face {font-family: "Lane"; src:url("/fonts/Lane/LANENAR_.ttf") format("truetype"); font-weight:lighter; font-style: normal;
}

body {
  max-width: 100%;
  height: 100vh;
}


:root {

    --rtc-font-family-1: Arial, Helvetica, sans-serif;
    --rtc-font-family-2: "Karnivore-heavy";
    --rtc-font-family-3: "Karnivore-soft";
    --rtc-font-family-4: "Gputeks-bold";
    

    --rtc-color-pardo: #9a7a57;
    --rtc-color-petrolBlue:#384d50;
    --rtc-color-surgeryGreen:#b2d8cc;
    --rtc-color-bloodRed: #601700;
    --rtc-color-softOrange: #eca691;
    --rtc-color-almostWhite: #dbe1e2;
    --rtc-color-almostBlack: #272929;

    
  
    --font-size-xl: 25px;
    --font-size-l: 20px;
    --font-size-m: 16px;
    --font-size-ms: 12px;
    --font-size-s: 10px;

    --padding-xxl: 30px;
    --padding-xl: 20px;
    --padding-l: 14px;
    --padding-m: 10px;
    --padding-s: 6px;
    --padding-xs: 2px;
}

main {
  width: 100%;
  height: 100vh;
  background-color: var(--rtc-color-almostBlack);
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
  font-family: var(--rtc-font-family-2);
  letter-spacing: 4px;
}

h2 {
  font-family: var(--rtc-font-family-3);
  letter-spacing: 4px;
}

h3 {
  font-family: var(--rtc-font-family-2);
  font-size: var(--font-size-m);
  color: var(--rtc-color-surgeryGreen);
  letter-spacing: 1px;
}

p {
  font-family: var(--rtc-font-family-4);
  font-size: var(--font-size-m);
  color: var(--rtc-color-almostWhite);
  letter-spacing: 1px;
}

#educationButton:hover, #projectsButton:hover, #aboutMeButton:hover {
  cursor: pointer;
} 

#educationButton, #projectsButton {
  font-family: var(--rtc-font-family-2);
  font-size: 40px;
  color: var(--rtc-color-almostWhite);
  background-color: var(--rtc-color-petrolBlue);
}

#buttonToTheTop:hover , #project1-button:hover, #project2-button:hover{
  cursor: pointer;
}

#buttonToTheTop {
  width: 72px;
  height: 72px;
  position: absolute;
  right: 8em;
  bottom: 12em;
  background-color: var(--rtc-color-surgeryGreen);
  border-radius:10px ;
}

#buttonToTheTop > img {
  width: 100%;
  padding: var(--padding-m);
}

header {
  display: flex;
  top: 0;
  z-index: 3;
  width: 100%;
  height: auto;
  background-color: var(--rtc-color-almostBlack);
}

#headerDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 12%;
  color: var(--rtc-color-almostWhite);
  background-color: var(--rtc-color-almostBlack);
}

#headerDiv, .footerDiv {
  padding: var(--padding-xxl);
}

#introPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: var(--padding-xl);
  position: absolute;
  top: 9em;
  gap: 1.8em;
  z-index: 1;
  background-color: var(--rtc-color-almostBlack);
}

#skillsDiv {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  height: auto;
  margin: 40px 0px 0px;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--rtc-color-surgeryGreen);
}

.menuDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: var(--padding-xxl);
  background-color: var(--rtc-color-petrolBlue);
}

.menuLeft, .menuRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;

}

.avatarDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;

}

.avatarDiv > img {
  width: 70%;
  object-fit: contain;
}

#aboutMeDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 60px 60px 90px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--rtc-color-pardo);
}

.aboutmeParagraph {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}

.footerDiv {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 8%;
  color: var(--rtc-color-almostWhite);
  background-color: var(--rtc-color-almostBlack);
}

span {
  font-family: var(--rtc-font-family-3);
  font-size: 14px;
  color: var(--rtc-color-almostWhite);
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  background-color: var(--rtc-color-almostBlack);
}




@media screen and (max-width:480px) {

  #buttonToTheTop {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 2em;
    bottom: 6em;

  }
  
  #buttonToTheTop > img {
    width: 100%;
    padding: var(--padding-s);
  }

  h1 {
    font-size: var(--font-size-xl);
  }

  h2 {
    font-size: var(--font-size-m);
    letter-spacing: 1px;
  }

  #headerDiv {
    padding: var(--padding-l);
  }

  #introPage {
    top: 4em;
    gap: 1em;
  }

  #educationButton, #projectsButton {
    font-size: var(--font-size-xl);
  }

  #skillsDiv, #aboutMeDiv {
    margin: 20px 0px 0px;
    gap: 0px;
    padding: var(--padding-s);
  }

  #skillsDiv > button, #aboutMeDiv > button {
    border-radius: 3px;
  }

  .menuDiv {
    flex-direction: column; 
    padding: var(--padding-l);
    gap: 18px;
  }

  .menuLeft, .menuRight, .avatarDiv {
    width: 100%;
  }

  .menuLeft, .menuRight {
    border: 1px solid wheat;
  }

  .avatarDiv > img {
    width: 50%;
  }

  #aboutMeDiv {
    padding: 22px 14px; 
  }
  
  .aboutmeParagraph {
    padding: var(--padding-xl); 
    font-size: var(--font-size-s);
  }

  #educationDiv {
    padding: 20px 35px 30px;
  }

  #projectsContainer > div {
    height: 500px;
  }

  .footerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-m);
  }

  .footerDiv > span {
    font-size: 12px;
  }

}



@media screen and (min-width: 481px) and (max-width:768px){

  #buttonToTheTop {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 2em;
    bottom: 12em;
  }
  
  #buttonToTheTop > img {
    width: 100%;
    padding: var(--padding-s);
  }

  h1 {
    font-size: var(--font-size-xl);
  }
  h2 {
    font-size: var(--font-size-l);
  }

  #educationButton, #projectsButton {
    font-size: var(--font-size-xl);
  }

  #introPage {
    top: 6em;
    gap: 2em;
  }

  #skillsDiv, #aboutMeDiv {
    gap: 10px;
    padding: var(--padding-s);
  }

  .menuDiv {
    gap: 5px;
    flex-direction: column; 
  }

  .menuLeft, .menuRight, .avatarDiv {
    width: 100%;
  }

  .avatarDiv > img {
    width: 30%;
  }

  #aboutMeDiv {
    padding: 22px 14px; 
  }
  
  .aboutmeParagraph {
    padding: var(--padding-xl); 
    font-size: var(--font-size-ms);
  }

}
  


@media screen and (min-width: 769px) and (max-width:1023px){

  #buttonToTheTop {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 3em;
    bottom: 12em;
  }
  
  #buttonToTheTop > img {
    width: 100%;
    padding: var(--padding-s);
  }

  #projectsButton, #educationButton {
    font-size: 28px;
  }
  
  #introPage {
    top: 7em;
    gap: 2em;
  }

  #skillsDiv, #aboutMeDiv {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0px 20px;
  }

  .menuDiv {
    gap: 5px;
    flex-direction: row; 
  }

  .menuLeft, .menuRight, .avatarDiv {
    width: 100%;
  }

  .avatarDiv > img {
    width: 70%;
  }
  #aboutMeDiv {
    padding: 22px 14px; 
  }
  
  .aboutmeParagraph {
    padding: var(--padding-xl); 
    font-size: var(--font-size-ms);
  }

  label {
    font-size: 12px;
  }
}



@media screen and (min-width:1024px) and (max-width:1279px) {
  #buttonToTheTop {
    width: 65px;
    height: 65px;
    position: absolute;
    right: 3em;
    bottom: 12em;
  }
  
  #buttonToTheTop > img {
    width: 100%;
    padding: var(--padding-s);
  }

  #introPage {
    top: 7em;
    gap: 2em;
  }

  #skillsDiv, #aboutMeDiv {
    padding: 0px 25px;
    gap: 10px;
  }

  .avatarDiv > img {
    width: 60%;
  }

  #aboutMeDiv {
    padding: 22px 14px; 
  }
  
  .aboutmeParagraph {
    padding: var(--padding-l); 
    font-size: var(--font-size-ms);
  }

}



@media screen and (min-width:1280px) and (max-width:1439px) {

  #buttonToTheTop {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 4em;
    bottom: 10em;
  }
  
  #buttonToTheTop > img {
    width: 100%;
    padding: var(--padding-s);
  }

  #headerDiv, .footerDiv {
    padding: var(--padding-l);
  }

  h1 {
    font-size: 30px;
  }

  .menuDiv {
    height: 300px;
  }

  #educationButton, #projectsButton {
    font-size: 25px;
  }

  #introPage {
    top: 7em;
    gap: 1.2em;
  }

  #skillsDiv, #aboutMeDiv {
    margin: 40px 0px 0px;
    gap: 20px;
    padding: 0px;
  }

  #skillsDiv > button, #aboutMeDiv > button {
      padding: 5px 10px;
  }

  .menuDiv {
    padding: var(--padding-s); 
  }

  .avatarDiv > img {
    width: 60%;
  }
  #aboutMeDiv {
    padding: 25px 14px; 
  }
  
  .aboutmeParagraph {
    padding: var(--padding-xl); 
    font-size: var(--font-size-m);
  }

  .footerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 5px;
  }

}
