#contact {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    padding-top: 20px;
    background-color: var(--rtc-color-petrolBlue);
  }
  
#contactoH2 {
    display: flex;
    position: absolute;
    bottom: 23em;
    justify-content: center;
    color: var(--rtc-color-almostWhite);
}

label {
    display: flex;
    justify-content: start;
    font-family: var(--rtc-font-family-3);
    font-size: 12px;
    color: var(--rtc-color-almostWhite);
    letter-spacing: 1px;
    padding-bottom: 5px;
}
  
.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 10px;
    width: 50%;
    height: 500px;
    background-color: var(--rtc-color-petrolBlue);
}

.contactForm > div {
    width: 100%;
}
  
.input-form {
    width: 100%;
    padding-left: 10px;
    background-color: var(--rtc-color-almostWhite);
    border: none;
    border-radius: 5px;
}
  
.input-form {
    height: 50px;
}
  
textarea {
    height: 100px;
}
  
.contactForm > button {
    display: flex;
    justify-content: center;
    width: 150px;
    margin-top: 20px;
    border-radius: 4px;
}

#errorMessage {
    font-size: 12px;
    color: #eca691;
}

#successMessage {
    font-size: 12px;
    color:#b2d8cc;
}

#email-form.loading {
    outline: 2px solid var(--rtc-color-almostWhite);
    animation: loading_animation 1s infinite linear;
}


@keyframes loading_animation {
    0% {
        outline: 2px solid var(--rtc-color-200);  
    }

    50% {
        outline: 5px solid var(--rtc-color-100);
    }
    100% {
        outline: 2px solid var(--rtc-color-200);
    }
}


@media screen and (max-width:480px) {

    #projectsContainer > div  {
        height: 390px;   
    }

    #projectsContainer > div > img {
        height: 275px;   
    }

    #contact {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        background-color: var(--rtc-color-petrolBlue);
    }
      
    #contactoH2 {
        font-size: 1em;
    }
      
    .contactForm {
        gap: 0px;
        width: 70%;
        height: 330px;
        padding-top: 30px;
    }

    .contactForm > div { 
        padding-bottom: 10px;
    }

    .input-form {
        height: 30px;
    }
    
    label {
        font-size: 12px;
    }

    .contactForm > button {
        width: 100px;
        margin-top: 20px;
    }
}


@media screen and (min-width: 481px) and (max-width:768px) {
    #contactoH2 {
        font-size: 1.5em;
    }
    
    label {
        font-size: 12px;
    }
}


@media screen and (min-width: 769px) and (max-width:1023px){

    label {
        font-size: 12px;
    }
}


@media screen and (min-width:1024px) and (max-width:1279px) {

    #contact {
        padding-top: 60px;
    }

    #contactoH2 {
        bottom: 24em;
    }

    label {
        font-size: 12px;
    }
}

@media screen and (min-width:1280px) and (max-width:1439px) {

    #contact {
        padding-top: 80px;
    }

    #contactoH2 {
        bottom: 22em;
    }

    label {
        font-size: 12px;
    }
}

