#projectsContainer {
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: var(--padding-xxl);
    background-color: var(--rtc-color-almostBlack);
  }
  
  #projectsContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 520px;
    gap: 12px;
    padding: var(--padding-l);
    background-color: var(--rtc-color-almostWhite);
    border-radius: 5px;
  }
  
  #projectsContainer > div > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }

  #linksDiv {
    display: flex;
    gap: 20px;
    padding-top: 10px;
  }

  #project1-button, #project2-button {
    font-size: var(--font-size-l);
    padding: 4px 10px;
  }

  #project1-button:hover, #project2-button:hover {
    cursor: pointer;
    background-color: var(--rtc-color-almostBlack);
    color: var(--rtc-color-surgeryGreen);
  }




  

@media screen and (max-width:480px) {

    #projectsContainer {
        height: auto;
        padding: var(--padding-l);
        gap: 30px;
      }
      
      #projectsContainer > div {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 510px;
        gap: 12px;
        padding: var(--padding-l);
        background-color: var(--rtc-color-almostWhite);
        border-radius: 5px;
      }
      
      #projectsContainer > div > img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 5px;
      }

      #project1-button, #project2-button {
        border-radius: 4px;
        font-size: var(--font-size-m);
        padding: 4px 10px;
      }
}


@media screen and (min-width: 481px) and (max-width:768px){

    #projectsContainer {
        display: flex;
        height: auto;
        padding: var(--padding-m);
        gap: 30px;
      }
      
      #projectsContainer > div {
        
        width: 100%;
        height: 550px;
        gap: 16px;
        padding: var(--padding-l);
        background-color: var(--rtc-color-almostWhite);
        border-radius: 5px;
      }
      
      #projectsContainer > div > img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 5px;
      }

}



@media screen and (min-width: 769px) and (max-width: 1023px) {

  #educationDiv {
    padding: 40px;
  }

  #projectsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: var(--padding-l);
    gap: 30px;
  }
  
  #projectsContainer > div {
    display: flex;
    justify-content: center;
    width: 45%;
    height: 510px;
    gap: 12px;
    padding: var(--padding-l);
    background-color: var(--rtc-color-almostWhite);
    border-radius: 5px;
  }
  
  #projectsContainer > div > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }

  #project1-button, #project2-button {
    border-radius: 4px;
    font-size: var(--font-size-m);
    padding: 4px 10px;
  }
}


@media screen and (min-width:1024px) and (max-width:1279px) {
  #project1-button, #project2-button {
    border-radius: 4px;
    font-size: var(--font-size-m);
    padding: 4px 10px;
  }
}
